*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  padding: 0 10%;
}

header {
  width: 100%;
  height: 600px;
  background-image: url(../img/fluentify-imgs/fluentify-jumbo.png);
  background-repeat: no-repeat;
  background-size:70% ;
  background-color: rgba(29, 70,120);
  background-position:right bottom;
  position: relative;
}

.logo {
  padding: 5px;

}

.button-nav {
  background-color: #5df207;
  padding: 2%;
  border-radius: 10px;
  color: white;
}
.buttonjumbo {
  background-color: #5df207;
  padding: 2%;
  border-radius: 10px;
  color:white;
}

/* navabr */
.headbar{
  width: 100%;
  height: 50px;
  /* background-color: red; */
  /* line-height: 50%; */
}
.headbar .logo {
  display: inline-block;
}


.navbar li {
  display: inline-block;



}

.headbar .navbar {
  display: inline-block;
  padding: 5px;
  line-height: 50%;
}

.scrittajumbo{
  width: 50%;
  font-size: 30px;
  text-align: left;
  color: white;
  left: 0;
  top: 30%;

  position: absolute ;

}
.section1 {
  width: 100%;
  height: 100px;
  background-color: lightgrey;
  text-align: center;

}

.scritta {
padding-top:30px;
}

.solouncorso {
  color: grey;
}


/* inizio sezione2 con colonne */
.piano, .affiancamento, .monitora {
  width: 40%;
  padding: 10px;
}
h4 {
color: green;
}
.section2::after{
  content: "";
  display: table;
  clear: both;
}

.colonna1sez2{
  width: 33%;
  /* height:200px; */
  /* background-color: yellow; */
  float: left;
  text-align: center;
  padding: 70px;

}

.colonna2sez2{
  width: 34%;
  /* height:200px; */
  /* background-color: orange; */
  float: left;
  text-align: center;
  padding: 50px;

}

.colonna3sez3{
  width: 33%;
  /* height:200px; */
  /* background-color: yellow; */
  float: left;
  text-align: center;
  padding: 70px;

}
/* fine sezione2 */

/* inizio sezione3 con colonne */
.section3::after{
  content: "";
  display: table;
  clear: both;
}

.colonna1sez3{
  width: 50%;
  /* height:200px; */
  /* background-color: grey; */
  float: left;

}

.colonna2sez3{
  width: 50%;
  /* height:200px; */
  /* background-color: green; */
  float: left;
  padding: 50px;
  font-size: 25px;

}

#scopri {
  padding:20px;
}

/* fine sezione3 */

/* inizio sezione4 */
.section4{
  width: 100%;
  height: 50px;
  background-color: lightgrey;
}
