*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  padding: 0 10%;
}

header {
  width: 100%;
  height: 600px;
  background-image: url(../img/fluentify-imgs/fluentify-jumbo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: blue;
}

/* navabr */
.headbar{
  width: 100%;
  height: 50px;
  background-color: red;
}
.headbar .logo {
  display: inline-block;
}

.headbar .navbar li {

}

.navbar li {
  display: inline-block;

}

.headbar .navbar {
  display: inline-block;
}
.section1 {
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  text-align: center;
}


/* inizio sezione2 con colonne */
.section2::after{
  content: "";
  display: table;
  clear: both;
}

.colonna1sez2{
  width: 20%;
  /* height:200px; */
  background-color: yellow;
  float: left;

}

.colonna2sez2{
  width: 60%;
  /* height:200px; */
  background-color: orange;
  float: left;

}

.colonna3sez3{
  width: 20%;
  /* height:200px; */
  background-color: yellow;
  float: left;

}
/* fine sezione2 */

/* inizio sezione3 con colonne */
.section3::after{
  content: "";
  display: table;
  clear: both;
}

.colonna1sez3{
  width: 50%;
  height:200px;
  background-color: grey;
  float: left;

}

.colonna2sez3{
  width: 50%;
  height:200px;
  background-color: green;
  float: left;

}

/* fine sezione3 */

/* inizio sezione4 */
.section4{
  width: 100%;
  height: 50px;
  background-color: lightgrey;
}
